@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #212A3E;
}

body {
    font-size: 15px;
    background-color: #EEEEEE;
}

h2{
    color: #00959c;
    text-align: center;
}

.cizgi{
    margin-top: 40px;
    border: 1px solid #212A3E;
}

#kisiEkleSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#kisiDataSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#kisiGuncelleSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#kisiSilSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu li{
    list-style-type: none;
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    background-color: #00ADB5;
    color: #222831;
    border-radius: 10px;
    padding: 10px;
    transition: .4s;
}

.menu li a:hover{
    background-color: #222831;
    color: #EEEEEE;
}


/*LOGİN SAYFASI*/
.loginScreen{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginScreen .blurPage{
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
}

.loginScreen h1{
    margin-top: 20px;
}

.loginScreen form{
    background-color: #fefefe;
    display: block;
    text-align: center;
    width: 40%;
    height: 60%;
    display: inline-block;
    border-radius: 10px;
}


.loginScreen form input[type="text"],
                  input[type="password"]{
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.loginScreen form #girisBtn{
    border-radius: 20px;
    padding: 10px;
    width: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .4s;
}

.loginScreen form #girisBtn:hover{
    background-color: #212A3E;
    color: #EEEEEE;
    letter-spacing: 2px;
    width: 30%;
}

.loginScreen img{
    height: 150px;
    margin: 15px;
}


/*YENİ KİŞİ EKLEME FORM DESIGN*/


.addNew {
    margin: auto;
    width: 50%;
}

.addNew h2{
    margin-bottom: 10px;
}

.addNew form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
}

#saveBtn {
    background-color: #222831;
    width: 100%;
    border-radius: 15px;
    border: none;
    color: #F1F6F9;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    transition: .4s;
}

#saveBtn:hover{
    background-color: green;
}

/*GİRİLİ DATALAR FORM DESIGN*/
.list {
    margin: 20px auto;
    width: 50%;
}

.list h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.kisilistesibaslik{
    margin-top: 30px;
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.list li span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 15px;
}

.list li a {
    color: #EEEEEE;
    display: inline-block;
    text-decoration: none;
    background-color: #212A3E;
    padding: 8px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    margin-left: 15px;
    transition: .4s;
}

.list li a:hover {
    background-color: #00959c;
    letter-spacing: 1.5px;
}

.list input[type="text"]{
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
}


/*KİŞİ GÜNCELLEME FORM DESIGN*/
.update {
    margin: 20px auto;
    width: 50%;
}

.update h2 {
    margin-bottom: 10px;
}

.update form {
    display: none;
    margin-bottom: 10px;
}

.update form input,
.update form select {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
}

#updateBtn{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
}

.update form button {
    background-color: #222831;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

/*KİŞİ SİLME FORM DESIGN*/
.delete {
    margin: 20px auto;
    width: 50%;
}

.delete h2 {
    margin-bottom: 10px;
}

.delete form select,
.delete form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
}

.delete form button {
    background-color: #222831;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}